<!DOCTYPE html>
<html>
	<head>
		<title>房屋详情</title>
		<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/detail.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/ceshi.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/window.css"/>

		<link type="text/css" rel="stylesheet" href="/static/css/navigation.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/artdialog.css"/>
		<link type="text/css" rel="stylesheet" href="/static/css/photoshow.css"/>

		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/static/js/window.js"></script>
		<script type="text/javascript" src="/static/js/ceshi.js"></script><link type="text/css" rel="stylesheet" href="/static/css/date.css"/>
		<script type="text/javascript" src="/static/js/sdcms.photo.js"></script>
		<script type="text/javascript" src="/static/js/picture.js"></script>
		<script type="text/javascript" src="/static/js/date.js"></script>

	</head>
		<body onload="_confirm()">
		<!--导航栏-->
		<header class="header-navigation" id="header">
		<nav>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-3">
					<a href="/index/"><font color="#4ab344" style="color: rgb(74, 179, 68);" size="6">轻松短租网</font></a>
				</div>
				<div class="col-md-2 title">
				</div>
				<div class="col-md-2 title">
					<a href="#"></a>
				</div>
				<div class="col-md-2 title">
					<a href="/mainpage/" target="_blank"><font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">租房</font></a>
				</div>
				<div class="col-md-2 title">
					{% if current_user.is_authenticated %}
					<a href="/profile/{{current_user.id}}">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							{{current_user.username}}
						</font>
					</a>
					{% else %}
					<a href="/reglogin/">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							登陆注册
						</font>
					</a>
					{% endif %}
				</div>
			</div>
		</nav>
		</header>

		<div class="wrap clear con_bg">
			<div class="con_l">
				<div class="pho_info">
					<h2 style="font-size: 25px;">
						<em>{{ house.house_name }}</em>
					</h2>
				</div>

					<!--房屋图片显示-->
				<div>
					<div class="w740">
						<div id="originalpic">
							{% if house.url_one %}
							<img src="{{ house.url_one }}" alt=""/>
							{% endif %}
							{% if house.url_two %}
							<img src="{{ house.url_two }}" alt=""/>
							{% endif %}
							{% if house.url_three %}
							<img src="{{ house.url_three }}" alt=""/>
							{% endif %}
							{% if house.url_four %}
							<img src="{{ house.url_four }}" alt=""/>
							{% endif %}
							{% if house.url_five %}
							<img src="{{ house.url_five }}" alt=""/>
							{% endif %}
							<a id="aPrev" style="cursor:url(/static/image/prev.cur),auto"></a>
							<a id="aNext" style="cursor:url(/static/image/next.cur),auto"></a>
						</div>

						<div class="thumbpic">
							<a href="javascript:;" class="bntprev"></a>
							<div id="piclist" style="margin-top: 0px;">
								<ul>
									{% if house.url_one %}
									<li><img src="{{ house.url_one }}" alt="" /><tt></tt></li>
									{% endif %}
									{% if house.url_two %}
									<li><img src="{{ house.url_two }}" alt="" /><tt></tt></li>
									{% endif %}
									{% if house.url_three %}
									<li><img src="{{ house.url_three }}" alt="" /><tt></tt></li>
									{% endif %}
									{% if house.url_four %}
									<li><img src="{{ house.url_four }}" alt="" /><tt></tt></li>
									{% endif %}
									{% if house.url_five %}
									<li><img src="{{ house.url_five }}" alt="" /><tt></tt></li>
									{% endif %}
								</ul>
							</div>
							<a href="javascript:;" class="bntnext"></a>
						</div>
					</div>
				</div>
				<!-- 简介部分 -->
				<div id="introducePart" style="margin-top: 50px">
					<div class="box_white clear detail_infro_item" hideheight="135" showheight="120">
						<div class="info_l">
							<span class="info_ico1">
								<img src="/static/image/ico1.png" alt="ico1" width="66px" height="80px">
							</span>
							<p>简介</p>
						</div>
						<div class="info_r">
							<div class="intro_item_content" style="height: 150px; overflow: hidden;">
								{% if house.house_type == 0 %}
								<p> 房屋类型： 整租 </p>
								{% elif house.house_type == 1 %}
								<p> 房屋类型： 单间 </p>
								{% else %}
								<p> 房屋类型： 单床位 </p>
								{% endif %}
								<p> {{house.description }}</p>
							</div>
						</div>
					</div>
					<div class="box_gray clear detail_infro_item" hideheight="135" showheight="120">
						<div class="info_l">
							<span class="info_ico2">
								<img src="/static/image/house.png" alt="ico2" width="66px" height="80px">
							</span>
							<p>地址</p>
						</div>
						<div class="info_r">
							<div class="intro_item_content" style="height: 150px; overflow: hidden;">
								<p> {{house.address}} </p>
							</div>
						</div>
					</div>
					<div class="box_white clear detail_infro_item" hideheight="135" showheight="120">
						<div class="info_l">
							<span class="info_ico3">
								<img src="/static/image/ico3.png" alt="ico3" width="66px" height="80px">
							</span>
							<p>配套设施</p>
						</div>
						<div class="info_r">
							<div class="intro_item_content" style="height: 150px; overflow: hidden;">
								<ul class="pt_list clear">
									<li class="s_ico_tv">
										{% if house.facility[0] == '1' %}
										<img src="/static/image/tv.png" alt="tv" width="20px" height="20px">
										{% else %}
										<img src="/static/image/tv1.png" alt="tv" width="20px" height="20px">
										{% endif %}
										电视
									</li>
									<li class="s_ico_icebox">
										{% if house.facility[1] == '1' %}
										<img src="/static/image/icebox.png" alt="icebox" width="20px" height="20px">
										{% else %}
										<img src="/static/image/icebox1.png" alt="icebox" width="20px" height="20px">
										{% endif %}
										冰箱
									</li>
									<li class="s_ico_washer">
										{% if house.facility[2] == '1'%}
										<img src="/static/image/washer.png" alt="washer" width="20px" height="20px">
										{% else %}
										<img src="/static/image/washer1.png" alt="washer" width="20px" height="20px">
										{% endif %}
										洗衣机
									</li>
									<li class="s_ico_aircondition">
										{% if house.facility[3] == '1' %}
										<img src="/static/image/aircondition.png" alt="aircondition" width="20px" height="20px">
										{% else %}
										<img src="/static/image/aircondition1.png" alt="aircondition" width="20px" height="20px">
										{% endif %}
										空调
									</li>
									<li class="s_ico_wirelessnetwork">
										{% if house.facility[4] == '1' %}
										<img src="/static/image/wirelessnetwork.png" alt="wirelessnetwork" width="20px" height="20px">
										{% else %}
										<img src="/static/image/wirelessnetwork1.png" alt="wirelessnetwork" width="20px" height="20px">
										{% endif %}
										wifi
									</li>
									<li class="s_ico_parkingspace">
										{% if house.facility[5] == '1' %}
										<img src="/static/image/parkingspace.png" alt="parkingspace" width="20px" height="20px">
										{% else %}
										<img src="/static/image/parkingspace1.png" alt="parkingspace" width="20px" height="20px">
										{% endif %}
										停车场
									</li>
									<li class="s_ico_shower">
										{% if house.facility[6] == '1' %}
										<img src="/static/image/shower.png" alt="shower" width="20px" height="20px">
										{% else %}
										<img src="/static/image/shower1.png" alt="shower" width="20px" height="20px">
										{% endif %}
										热水器
									</li>
									<li class="s_ico_clothespress">
										{% if house.facility[7] == '1' %}
										<img src="/static/image/clothespress.png" alt="clothespress" width="20px" height="20px">
										{% else %}
										<img src="/static/image/clothespress1.png" alt="clothespress" width="20px" height="20px">
										{% endif %}
										衣柜
									</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="box_gray clear detail_infro_item" hideheight="135" showheight="120">
						<div class="info_l">
							<span class="info_ico4">
								<img src="/static/image/ico4.png" alt="ico4" width="66px" height="80px">
							</span>
							<p>入住须知</p>
						</div>
						<div class="info_r">
							<div class="intro_item_content" style="height: 150px; overflow: hidden;">
								<p>
									卧房数： {{ house.bedroom }}<br/>
									厨房数： {{ house.kitchen }}<br/>
									卫生间： {{ house.toilet }} <br/>
									床位数： {{ house.bedroom }}<br/>
									可住人数：{{ house.people }}<br/>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="con_r" style="margin-top:30px;">
				<div class="top_bar clear">
				</div>

				<div class="bg_box" id="floatRightBox" style="position: static;top:56px;left: 640px;z-index: 989;">
					<div class="day_top clear" id="pricePart" style="display: block;">
						<div class="day_l">
							&#165;
							<span> {{ house.price }} </span>
							<em>起</em>
						</div>
						<div class="day_r">每晚</div>
					</div>
					<form id="housedate" method="post">
						<div class="detailBookArea" style="height: 200px;">
							<div class="reserve_box clear" style="height: 200px;">
								<div class="reserve_space" style="height: 100px;">
									<div class="clear" style="height: 40px;padding-top: 20px;text-align: center;"> </div>
										<!--选择日期-->
										<script>
												$(function() {
													$( "#datepicker,#datepicker1" ).datepicker();
												});
										</script>
										<div style="margin:0 auto; width:250px; height:40px;padding-top:7px;text-align: center;background-color: #f5f5f5;">
											<input class="date" id="datepicker" name="datepicker" type="text"  value="入住时间" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Check In';}" style="border: 0;background-color: #f5f5f5;font-size: 18px;">
										</div>
										<div style="margin:30px auto 0 auto; width:250px; height:40px;padding-top:7px;text-align: center;background-color: #f5f5f5;">
											<input class="date1" id="datepicker1" name="datepicker1" type="text" value="离开时间" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Check Out';}" style="border: 0;background-color: #f5f5f5;font-size: 18px;">
										</div>

										<!--预订按钮-->
										<div class="order_btn_container">
											<!--<button id='order_btn' class="button" onclick="javascript: var a=_confirm();if (a){form=document.getElementById('housedate');form.action='/makeorder/{{house.id}}/';}">立即预订</button>-->
											<button id='order_btn' class="button" onclick="form=document.getElementById('housedate');form.action='/makeorder/{{house.id}}/';">立即预订</button>
										</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function _confirm() {
					{%if (msg | length) > 0 %}
					 	win.confirm('提示', '{{msg}}');
					{% endif %}
				}
		</script>
	</body>
</html>
