<!DOCTYPE HTML>
<html>
	<head>
		<title>主页</title>
		<meta charset="utf-8" />
		<link rel='stylesheet' href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel='stylesheet' type='text/css' href="/static/css/style.css" />
		<link rel='stylesheet' type='text/css' href="/static/css/window.css" />
		<link rel='stylesheet' type="text/css"  href="/static/css/navigation.css"/>

		<script type="applijewelleryion/x-javascript">
			addEventListener("load", function()
			{ setTimeout(hideURLbar, 0); }, false);
			function hideURLbar()
			{ window.scrollTo(0,1); }
		</script>
		<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/city2.js"></script>
		<script type="text/javascript" src="/static/js/citySelect2.js"></script>
		<script type="text/javascript" src="/static/js/classie.js"></script>
		<script type="text/javascript" src="/static/js/uisearch.js"></script>
		<script type="text/javascript" src="/static/js/window.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
			function _confirm() {
				 {% if (msg | length) > 0 %}
				 	win.confirm('提示', '{{msg}}');
				 {% endif %}
				}
		</script>
	</head>
	<body onload="_confirm()">
		<div class="banner1">
			<!--导航栏-->
			<header class="header-navigation" id="header">
		<nav>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-3">
					<a href="/index/"><font color="#4ab344" style="color: rgb(74, 179, 68);" size="6">轻松短租网</font></a>
				</div>
				<div class="col-md-2 title">
				</div>
				<div class="col-md-2 title">
				</div>
				<div class="col-md-2 title">
					<a href="/mainpage/" target="_blank"><font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">租房</font></a>
				</div>
				<div class="col-md-2 title">
					{% if current_user.is_authenticated %}
					<a href="/profile/{{current_user.id}}">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							{{current_user.username}}
						</font>
					</a>
					{% else %}
					<a href="/reglogin/">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							登陆注册
						</font>
					</a>
					{% endif %}
				</div>
			</div>
		</nav>
		</header>
		</div>
		<!--省份的三级联动-->
		<form id="addressform" method="post">
			<div class="container">
				<p style="font-family: '微软雅黑'; width: 180px;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;">请输入您的选择条件 : </p>
				<div class="details-1 city_5" style="background-color:rgba(0,0,0,0.3);">
					<div class="col-md-10 dropdown-buttons">
						<div class="col-md-3 dropdown-button">
							<div class="input-group">
							<select class="prov" id="prov5" name="prov5"></select>
							</div>
						</div>
						<div class="col-md-3 dropdown-button">
							<div class="book_date">
								<select class="city" id="city5" name="city5"></select>
							</div>
						</div>
						<div class="col-md-3 dropdown-button">
							<div class="book_date">
								<select class="dist" id="area5" name="area5"></select>
							</div>
						</div>
						<script>
						var selectVa2 = new CitySelect({
							data   : data,
							provId : "#prov5",
							cityId : '#city5',
							areaId : '#area5',
							isSelect: false
						});
						</script>
						<div class="col-md-3 dropdown-button">
						  <div class="section_1">
							 <select id="price" name="price" onChange="change_country(this.value)" class="frm-field required">
								 <option disabled selected style='display:none;'>选择价格</option>
								 <option value="100">0 ~ 100</option>
								 <option value="200">101 ~ 200</option>
								 <option value="300">201 ~ 300</option>
								 <option value="400">301 ~ 400</option>
								 <option value="500">401 ~ 500</option>
								 <option value="10000">500以上</option>
							 </select>
						  </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-2 submit_button" style="background-color:#6CBC35;">
							<input type="submit" value="挑选" onclick="form=document.getElementById('addressform');form.action='/search/';">
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</form>
		<!-- offers -->
		<div class="offers" style="margin-top:-10px">
			<div class="container">
				{% for item in range(group) %}
					<div class="row">
						<div class="col-md-4 offers-left" style="margin-top:30px;">
							<h3> {{ house[3*item].price }} 元/晚 </h3>
							<img src="{{house[3*item].url_one}}" class="img-responsive" alt="" style="height: 230px;width: 408px;">
							<h4>{{house[3*item].house_name}}</h4>
							<h4> {{house[3*item].province}}  {{house[3*item].city}} {{house[3*item].district}} {{ house[3*item].address }} </h4>
							<a class="hvr-shutter-in-horizontal" href="/housedes/{{ house[3*item].id }}/">查看详情</a>
						</div>
						<div class="col-md-4 offers-left" style="margin-top:30px;">
							<h3> {{ house[3*item+1].price }} 元/晚 </h3>
							<img src="{{house[3*item+1].url_one}}" class="img-responsive" alt="" style="height: 230px;width: 408px;">
							<h4>{{house[3*item+1].house_name}}</h4>
							<h4> {{house[3*item+1].province}}  {{house[3*item+1].city}} {{house[3*item+1].district}} {{ house[3*item+1].address }} </h4>
							<a class="hvr-shutter-in-horizontal" href="/housedes/{{ house[3*item+1].id }}/">查看详情</a>
						</div>
						<div class="col-md-4 offers-left" style="margin-top:30px;">
							<h3> {{ house[3*item+2].price }} 元/晚 </h3>
							<img src="{{house[3*item+2].url_one}}" class="img-responsive" alt="" style="height: 230px;width: 408px;">
							<h4>{{house[3*item+2].house_name}}</h4>
							<h4> {{house[3*item+2].province}}  {{house[3*item+2].city}} {{house[3*item+2].district}} {{ house[3*item+2].address }} </h4>
							<a class="hvr-shutter-in-horizontal" href="/housedes/{{ house[3*item+2].id }}/">查看详情</a>
						</div>
					</div>
				{% endfor %}
				{% if remain>0 %}
				<div class="row">
				{% for item in range(remain) %}
				<div class="col-md-4 offers-left" style="margin-top:30px;">
					<h3> {{ house[length-1-item].price }} 元/晚 </h3>
					<img src="{{house[length-1-item].url_one}}" class="img-responsive" alt="" style="height: 230px;width: 408px;">
					<h4>{{house[length-1-item].house_name}}</h4>
					<h4> {{house[length-1-item].province}}  {{house[length-1-item].city}} {{house[length-1-item].district}} {{ house[length-1-item].address }} </h4>
					<a class="hvr-shutter-in-horizontal" href="/housedes/{{ house[length-1-item].id }}/">查看详情</a>
				</div>
				{% endfor %}
				</div>
				{% endif %}
			 </div>
		</div>
		<ul class="pagination" id="mypage" style="margin-left:600px;">
			{{ html| safe }}
		</ul>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-2">
						<a href="/admin/"><font color="#FFF">管理员登录</font></a>
					</div>
					<div class="col-md-2">
						<a href="/contact/"><font color="#FFF">联系我们</font></a>
					</div>
					<div class="col-md-4">
					</div>
				</div>
			</div>
		</div>
		<script>
			$(".zxf_pagediv").createPage({
					pageNum: {{ page }},
					current: 1,
					backfun: function(e) {
					//console.log(e);//回调
				}
			});
	    </script>
	</body>
</html>