<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>房屋租赁</title>
		<meta name="description" content="Restyling jQuery UI Widgets and Elements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- 可选的Bootstrap主题文件（一般不使用） -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--导入菜鸟的JS的validate相关的库-->
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
        <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
        <!--导航栏样式文件-->
        <link href="/static/css/navigation.css" rel="stylesheet">
        <script src="/static/js/profile.js"></script>
        <script type="text/javascript" src="/static/js/navigation.js"></script>
        <link href="/static/css/profile.css" rel="stylesheet">
        <!--侧边栏样式-->
         <link href="/static/css/sidebar.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/sidebar.js"></script>
        <!--登录注册弹出框-->
        <link type="text/css" href="/static/css/dialog.css"  rel="stylesheet"/>
        <script type="text/javascript" src="/static/js/register.js"></script>
        <!--个人信息-->
        <link rel="stylesheet" href="/static/css/_floating-form-labels.css">
        <script type="text/javascript" src="/static/js/floatingFormLabels.min.js"></script>
        <script type="text/javascript" src="/static/js/window.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/window.css"/>
	</head>
	<body onload="_confirm()">
        <!--导航栏-->
		<header class="header-navigation" id="header">
		<nav>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-3">
					<a href="/index/"><font color="#4ab344" style="color: rgb(74, 179, 68);" size="6">轻松短租网</font></a>
				</div>
				<div class="col-md-2 title">
				</div>
				<div class="col-md-2 title">
				</div>
				<div class="col-md-2 title">
					<a href="/mainpage/" target="_blank"><font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">租房</font></a>
				</div>
				<div class="col-md-2 title">
					{% if current_user.is_authenticated %}
					<a href="/profile/{{current_user.id}}">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							{{current_user.username}}
						</font>
					</a>
					{% else %}
					<a href="/reglogin/">
						<font color="#FFFFFF" style="color: rgb(255, 255, 255);" size="4">
							登陆注册
						</font>
					</a>
					{% endif %}
				</div>
			</div>
		</nav>
		</header>
       <!--侧边栏以及内容-->
       <!--侧边栏-->
       <div id="wrapper" style="margin-top=25px">
            <div class="overlay"></div>
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                        个人中心
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i>我是租客<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--查看自己租房子的订单-->
                            <li><a href="/renting/">查看我的订单</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i>我是房东<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--查看自己租房子的订单-->
                            <li><a href="/rent_house/">查看我的订单</a></li>
                            <li><a href="/operating/">未处理的订单</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> 房屋管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--查看自己发布的房屋-->
                            <li><a href="/myhouse/">查看我的房屋</a></li>
                            <!--发布房屋按钮-->
                            <li><a href="/release/">发布房屋</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout/">
                            <i class="fa fa-fw fa-dropbox"></i>
                            登出
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="page-content-wrapper" style='background:url(/static/image/back.jpg) 50% 50% no-repeat;background-size: cover;height:650px;weight:700px'>
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <!--个人信息显示以及修改按钮-->
                        <form method="post" id="modify_form">
                            <div class="ffl-wrapper">
                                <label for="name_modify" class="ffl-label">名字</label>
                                <input type="text" id="name_modify" name="name_modify" value="{{user.username}}">
                            </div>
                            <div class="ffl-wrapper">
                                <label for="email_modify" class="ffl-label">邮箱</label>
                                <input type="email" id="email_modify" name="email_modify" value="{{user.email}}">
                            </div>
                            <div class="ffl-wrapper">
                                <label for="phone_modify" class="ffl-label">手机号</label>
                                <input type="text" id="phone_modify" name="phone_modify">
                            </div>
                            <div class="ffl-wrapper">
                                <label for="password_modify" class="ffl-label">密码</label>
                                <input type="password" id="password_modify" name="password_modify">
                            </div>
                            <div class="ffl-wrapper">
                                <label for="repeat_modify" class="ffl-label">重复密码</label>
                                <input type="password" id="repeat_modify" name="repeat_modify">
                            </div>
                            <button type="submit" onclick="form=document.getElementById('modify_form');form.action='/modify_information/{{user.id}}/';">修改</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
			function _confirm() {
					{%if (msg | length) > 0 %}
					 	win.confirm('提示', '{{msg}}');
					{% endif %}
				}
		</script>
    </body>
</html>
<script type="text/javascript">
    $('.ffl-wrapper').floatingFormLabels();
</script>
